/* Main.css */

body{
  background-image: url("trans.png");
}

h1, h3 {
  text-align: center;
  margin-bottom: -10px;
}

.whole-viz-page {
  /* spacing of the page */
  margin-top: 70px;
  margin-bottom: 90px;
  padding-top: 45px;
  padding-bottom: 65px;
  padding-left: 35px;
  padding-right: 35px;
  /* colour of the page to show different */
  background-color: ghostwhite; /* #f8f8ff */
  width: 1280px; /* low dpi 13 inch laptop is 1280 */
  min-width: 1280px;
  max-width: 1280px;
}

.linechart-row{
  margin-left: -65px;
  margin-top: -30px;
}

.map-row {
    align-items: center;
    justify-content: center;
  }

#happy_peace {
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  justify-content: center;
  width: max-content;
}

#map {
  padding-left: 20px;
  padding-right: 30px;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.empty-row{
    height: 50px;
}

.cash-background {
  z-index: -20;
}

.margin-l-paragraph{
  padding-left: 150px;
  padding-right: 20px;
}

.margin-r-paragraph{
  padding-left: 20px;
  padding-right: 150px;
}

p{
  text-align: justify;
}

.prevent-overlap{
  z-index: 10;
}

.first-title{
  font-size: 50px;
  font-weight: 500;
}

.second-title{
  padding-top: 5px;
  font-weight: 500;
}

.copyright{
  text-align: right;
  padding-right: 150px;
  font-size: small;
}

.formula{
  font-weight: bold;
  text-align: center;
}

.legend{
  z-index: 20;
  position: absolute;
  margin-top: -10px;
  margin-left: 375px;
  height: 120px;
  width: 115px;
}